body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'IBMPlex-SemiBold';
  src: local('IBMPlex-SemiBold'), url('./fonts/IBMPlex/IBMPlex-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlex-Bold';
  src: local('IBMPlex-Bold'), url('./fonts/IBMPlex/IBMPlex-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlex-Light';
  src: local('IBMPlex-Light'), url('./fonts/IBMPlex/IBMPlex-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlex-Medium';
  src: local('IBMPlex-Medium'), url('./fonts/IBMPlex/IBMPlex-Medium.ttf') format('truetype');
}

h1 {
  font-family: 'IBMPlex-Bold';
}

h3,
h4 {
  font-family: 'IBMPlex-SemiBold';
}

h5,
h6 {
  font-family: 'IBMPlex-Medium';
}

p,
li,
a {
  font-family: 'IBMPlex-Light';
}

.nav-title {
  font-family: 'IBMPlex-Bold' !important;
  font-size: 0.8em;
}
