* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Biotif-Black';
  src: local('Biotif-Black'), url('./fonts/Biotif/Biotif-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Biotif-Bold';
  src: local('Biotif-Bold'), url('./fonts/Biotif/Biotif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Biotif-Book';
  src: local('Biotif-Book'), url('./fonts/Biotif/Biotif-Book.ttf') format('truetype');
}

h1,
h2,
th {
  font-family: 'Biotif-Black';
}

h3,
h4,
h5 {
  font-family: 'Biotif-Bold';
}

h6,
p,
li,
a {
  font-family: 'Biotif-Book';
}

.MuiCardHeader-subheader {
  font-family: 'Biotif-Book' !important;
}

.nav-title {
  font-family: 'Biotif-Black' !important;
  font-size: 0.8em;
}

.MuiCardHeader-title,
.MuiButton-root {
  font-family: 'Biotif-Bold' !important;
}

.MuiGrid-root {
  width: 100%;
  justify-content: center;
}

.MuiCardActions-root {
  justify-content: space-between;
  align-items: center;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skel-row {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skel-col {
  display: flex;
  flex-direction: column;
}

.MuiButton-outlinedSizeSmall {
  font-family: 'Biotif-Bold' !important;
  font-size: 0.8em !important;
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
}

/* .africa:hover {
  fill: #4c7f3f;
}
.asia:hover {
  fill: #ff0000;
}
.europe:hover {
  fill: #d56cff;
}
.north:hover {
  fill: #132bff;
}
.south:hover {
  fill: #47ce70;
}
.middle:hover {
  fill: #ffc400;
} */

.tag-map {
  margin: 2em;
  width: 50%;
}

.MuiCollapse-wrapper {
  max-height: 80vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.flex-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.MuiFormControlLabel-label {
  font-family: 'Biotif-Bold' !important;
}
